<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(line_item) -%>">
  <span class='title'>
    <%= line_item.title %>
    <span class="preview">&nbsp;</span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_go.png"), line_item_path(line_item),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_line_item_path(line_item),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_line_item_path(line_item),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'shared.admin.delete', :title => line_item.title),
        :method => :delete %>
  </span>
</li>
